* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 100%;
}

body {
    margin: 0;
    background-color: rgb(226, 225, 225);
    height: 100vh;
}

#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 10rem;
    margin-bottom: 3rem;
}


#relogio {
    display: flex;
    flex-direction: column;
}

#contador {
    display: flex;
    justify-content: center;
}

#contador > span {
    font-size: 5.2rem;
    color: #696767;
}

#opcoesTimer {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
}

#opcoesTimer > button {
    display: flex;
    outline: none;
    border: 0;
    padding: 0;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
}

#opcoesTimer button + button {
    margin-left: 1.5rem;
}

#opcoesTimer button:hover{
    background-color: rgb(126, 125, 125);
}



#opcoesTimer button:active{
    background-color: #fff;
}

#opcoesTimer button img {
    height: 3rem;
    width: 3rem;
}

#controles {
    padding: 0;
    display: flex;
    justify-content: center;
}

#controles label {
    font-size: 1rem;
    font-weight: bold;
    color: #696767;
}


#controles select{
    display: flex;
    width: 5rem;
    font-size: 1rem;
    color: #696767;
    text-align: center;
    height: 1.5rem;
}

#controles div + div {
    margin-left: 1rem;
}


#footer {
    text-align: center;
    font-size: 0.8rem;
}

#audio {
    display: none;
}

#alertafimevento {
    visibility: hidden;
    position: absolute;
    top: 5rem;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(199, 195, 195, 0.459);
    margin-top: 0.5rem;
    width: 18rem;
    border-radius: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

#alertafimevento p{
    align-self: center;
    font-size: 1.25rem;
    color: #494949;
    margin: 0;
    padding: 1rem;
}


#alertafimevento button{
    font-size: 1rem;
    outline: 0;
    color: #fff;
    border: 0;
    width: 4rem;
    align-self: center;
    padding: 0.4rem;
    align-self: center;
    width: 50%;
    height: 30%;
    background-color: rgb(113, 137, 211);
    cursor: pointer;
    border-radius: 0.5rem;
    transition: 0.4s;
}

#alertafimevento button:hover {
    background-color: rgb(93, 117, 189);
}

@media (min-width: 700px) {
    * {
        font-size: 135%;
    }

    #controles select option {
        font-size: 0.7rem;
    }
    
}



